<div class="page page-table" ng-controller="reponseEvaluationCtrl">
    <section class="panel panel-default table-dynamic">
        <div class="panel panel-default ens-edit">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{evaluation.designation}} :  {{evaluation.codeFormation}} {{evaluation.anneeUniversitaire}} </strong></div>
            <div class="panel-body">
                <!-- Edition -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label"></label>
                            <label for="" class="control-label">Evaluation concernant : </label>
                        </div>
                    </div>

                    <!--**** Colonne gauche ****-->
                    <div class="col-sm-3" ng-show="evaluation.codeEc">
                        <div class="form-group">
                            <label for="" class="control-label">l'élément constitutif : " {{evaluation.codeEc}} " de</label>
                        </div>
                    </div>

                    <!--**** Colonne droite ****-->
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="" class="control-label">l'unité d'enseignement : " {{evaluation.codeUe}} "</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label"></label>
                            <label for="" class="col-sm-8 control-label">Accessible du : {{evaluation.debutReponse}} au {{evaluation.finReponse}} </label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Pour la période : </label>
                            <label for="" class="col-sm-8 control-label">{{evaluation.periode}} </label>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </section>

    <section class="panel panel-default table-dynamic" ng-hide="idEvaluation == null">
        <div class="panel panel-default ens-edit">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Rubriques </strong></div>
            <div class="panel-body">

                <div>

                    <table class="table table-bordered table-responsive composition" data-ng-repeat="r in rubriquesEval" ng-hide="r.questionsEval.length == 0">
                        <thead class="composition">
                            <th width="48%">
                                <div class="th">
                                    {{r.rubrique.designation}}
                                </div>
                            </th>
                            <th width="20%">
                                <div class="th">
                                    minimum
                                </div>
                            </th>
                            <th width="2%">
                                <div class="th">
                                    1
                                </div>
                            </th>
                            <th width="2%">
                                <div class="th">
                                    2
                                </div>
                            </th>
                            <th width="2%">
                                <div class="th">
                                    3
                                </div>
                            </th>
                            <th width="2%">
                                <div class="th">
                                    4
                                </div>
                            </th>
                            <th width="2%">
                                <div class="th">
                                    5
                                </div>
                            </th>
                            <th width="20%">
                                <div class="th">
                                    maximum
                                </div>
                            </th>
                            <th width="2%">
                                <div class="th">
                                </div>
                            </th>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="q in r.questionsEval">
                                <td>{{q.question.intitule}}</td>
                                <td>{{q.question.qualificatif.maximal}}</td>
                                <td><label class="ui-radio"><input ng-change="ajouterReponseQuestion(q,1)" name="{{'q'+q.idQuestionEvaluation}}" type="radio" value="1" ng-model="q.positionnement"><span></span></label>
                                </td>
                                <td><label class="ui-radio"><input ng-change="ajouterReponseQuestion(q,2)" name="{{'q'+q.idQuestionEvaluation}}"  type="radio" value="2" ng-model="q.positionnement"><span></span></label>
                                </td>
                                <td><label class="ui-radio"><input ng-change="ajouterReponseQuestion(q,3)" name="{{'q'+q.idQuestionEvaluation}}"  type="radio" value="3" ng-model="q.positionnement"><span></span></label>
                                </td>
                                <td><label class="ui-radio"><input ng-change="ajouterReponseQuestion(q,4)" name="{{'q'+q.idQuestionEvaluation}}"  type="radio" value="4" ng-model="q.positionnement"><span></span></label>
                                </td>
                                <td><label class="ui-radio"><input ng-change="ajouterReponseQuestion(q,5)" name="{{'q'+q.idQuestionEvaluation}}" type="radio" value="5" ng-model="q.positionnement"><span></span></label>
                                </td>
                                <td>{{q.question.qualificatif.minimal}}</td>
                                <td>
                                    <span class="remove fa fa-remove" ng-click="ajouterReponseQuestion(q,null)" tooltip="Supprimer" tooltip-placement="bottom"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

<!--
                    <table class="table table-bordered table-striped table-responsive">
                        <tbody>

                            <tr data-ng-repeat="r in rubriquesEval" ng-hide="r.questionsEval.length == 0">


                                <td>{{r.rubrique.designation}} </td>



                                <td>



                                    <table class="table table-bordered table-striped table-responsive">


                                        <tbody>

                                            <tr data-ng-repeat="q in r.questionsEval">

                                                <td>{{q.question.intitule}}</td>
                                                <td>{{q.question.qualificatif.maximal}}</td>



                                                <td>

                                                    <div>

                                                        <label class="ui-radio"><input ng-change="ajouterReponseQuestion(q,1)" name="{{'q'+q.idQuestionEvaluation}}" type="radio" value="1" ng-model="q.positionnement"><span>1</span></label>
                                                        <label class="ui-radio"><input ng-change="ajouterReponseQuestion(q,2)" name="{{'q'+q.idQuestionEvaluation}}"  type="radio" value="2" ng-model="q.positionnement"><span>2</span></label>
                                                        <label class="ui-radio"><input ng-change="ajouterReponseQuestion(q,3)" name="{{'q'+q.idQuestionEvaluation}}"  type="radio" value="3" ng-model="q.positionnement"><span>3</span></label>
                                                        <label class="ui-radio"><input ng-change="ajouterReponseQuestion(q,4)" name="{{'q'+q.idQuestionEvaluation}}"  type="radio" value="4" ng-model="q.positionnement"><span>4</span></label>
                                                        <label class="ui-radio"><input ng-change="ajouterReponseQuestion(q,5)" name="{{'q'+q.idQuestionEvaluation}}" type="radio" value="5" ng-model="q.positionnement"><span>5</span></label>

                                                        <span class="remove fa fa-remove" ng-click="ajouterReponseQuestion(q,null)" tooltip="Supprimer" tooltip-placement="bottom"></span>

                                                    </div>


                                                </td>


                                                <td>{{q.question.qualificatif.minimal}}</td>

                                            </tr>



                                        </tbody>
                                    </table>

                                </td>


                            </tr>

                        </tbody>
                    </table>-->


                    <section class="panel panel-default table-dynamic">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"> </span> Commentaire</strong>
                        </div>

                        <form class="form-horizontal" ng-submit="ajouterModification(re.commentaire)">

                            <table class="table table-bordered table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <textarea class="form-control" ng-model="re.commentaire"></textarea>


                                    </tr>
                                </thead>

                            </table>



                            <div class="pull-right">
                                <div class="btn-group">
                                    <button ng-click="submit()" class="btn btn-success pull-right"><span class="glyphicon glyphicon-ok"> </span> Valider</button>
                                </div>
                                <div class="btn-group">
                                    <button type="reset" class="btn btn-danger pull-right" ng-click="cancel()"><span class="fa fa-undo"> </span> Retour</button>
                                </div>
                            </div>
                        </form>

                    </section>



                    <script type="text/ng-template" id="supprimerEvaluation">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
                                <h4 class="modal-title">Suppression d'évaluation</h4>
                            </div>
                            <div class="modal-body">
                                Voulez vous vraiment supprimer l'évaluation ?
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button" ng-click="annuler()">Annuler</button>
                                <button class="btn btn-success" type="button" ng-click="confirmer()"> Supprimer</button>
                            </div>
                        </div>
                    </script>

                    <script type="text/ng-template" id="supprimerEvaluationError">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
                                <h4 class="modal-title">Erreur de suppression</h4>
                            </div>
                            <div class="modal-body">
                                L'évaluation ne peut pas être supprimée !
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" type="button" ng-click="annuler()"> OK</button>
                            </div>
                        </div>
                    </script>


                    <script type="text/ng-template" id="confirmerModif">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
                                <h4 class="modal-title">Modification réussie</h4>
                            </div>
                            <div class="modal-body">
                                L'évaluation a été modifiée !
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" type="button" ng-click="annuler()"> OK</button>
                            </div>
                        </div>
                    </script>

                    <script type="text/ng-template" id="erreurModif">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
                                <h4 class="modal-title">Modification impossible</h4>
                            </div>
                            <div class="modal-body">
                                L'évaluation n'a pas pu être modifiée !
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" type="button" ng-click="annuler()"> OK</button>
                            </div>
                        </div>
                    </script>

                    <script type="text/ng-template" id="confirmerAjout">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
                                <h4 class="modal-title">Ajout réussi</h4>
                            </div>
                            <div class="modal-body">
                                L'évaluation a été ajoutée !
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" type="button" ng-click="annuler()"> OK</button>
                            </div>
                        </div>
                    </script>

                    <script type="text/ng-template" id="erreurAjout">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
                                <h4 class="modal-title">Ajout impossible</h4>
                            </div>
                            <div class="modal-body">
                                L'évaluation n'a pas pu être ajoutée !
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" type="button" ng-click="annuler()"> OK</button>
                            </div>
                        </div>
                    </script>

                </div>