<div class="page page-table" ng-controller="EtudiantDetailsCtrl">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Infos Generales</strong>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th><div class="th">
                    Nom
                </div></th>
                <th><div class="th">
                    Prénom
                </div></th>
                <th><div class="th">
                    E-mail
                </div></th>
                <th><div class="th">
                    Mobile
                </div></th>
                <th><div class="th">
                    Université d'origine
                </div></th>
                <th><div class="th">
                    Code formation
                </div></th>
                <th><div class="th">
                    Ann&eacutee universitaire
                </div></th>
            </tr>
            </thead>
            <tbody><!-- currentPageEnseignant / enseignants -->
            <tr class="formation">
                <td>{{etudiant.nom}}</td>
                <td>{{etudiant.prenom}}</td>
                <td>{{etudiant.email}}</td>
                <td>{{etudiant.mobile}}</td>
                <td>{{etudiant.universiteOrigine}}</td>
                <td>{{promo.promotionPK.codeFormation}}</td>
                <td>{{promo.promotionPK.anneeUniversitaire}}</td>
            </tr>
            </tbody>
        </table>
        
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Liste des evaluations</strong>
        </div>
        
        <table class="table table-bordered table-striped table-responsive">
        <thead>
        	<tr>
        		<th><div class="th">
                    Designation
                </div></th>
                <th><div class="th">
                    Debut Reponse
                </div></th>
                <th><div class="th">
                    Fin Reponse
                </div></th>
                <th><div class="th">
                    Periode
                </div></th>
                <th><div class="th">
                    Code UE
                </div></th>
                <th><div class="th">
                    Etat
                </div></th>
        	</tr>
        <thead>
        <tbody>
        	<tr ng-repeat = "e in evaluations" class="formation" ng-if="e.etat != 'ELA'">
        		<td>{{e.designation}}</td>
        		<td>{{e.debutReponse}}</td>
        		<td>{{e.finReponse}}</td>
        		<td>{{e.periode}}</td>
        		<td>{{e.codeUe}}</td>
        		<td ng-if="e.etat == 'CLO'">Cl&ocirctur&eacute</td>
        		<td ng-if="e.etat == 'ELA'">En cours d'	&eacutelaboration</td>
        		<td ng-if="e.etat == 'DIS'">Mise &agrave disposition</td>
        	</tr>
        </tbody>
        </table>
    </section>

</div>
