<div class="page page-table" data-ng-controller="EtudiantController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Etudiants</strong>
            <span class="add fa fa-user-plus pull-right" ng-click="ajoutEtudiant()"></span>
        </div>



        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th><div class="th">
                    Nom
                    <span class="glyphicon glyphicon-chevron-up"
                          data-ng-click=" order('nom') "
                          data-ng-class="{active: row == 'nom'}"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                          data-ng-click=" order('-nom') "
                          data-ng-class="{active: row == '-nom'}"></span>
                </div></th>
                <th><div class="th">
                    Prénom
                    <span class="glyphicon glyphicon-chevron-up"
                          data-ng-click=" order('prenom') "
                          data-ng-class="{active: row == 'prenom'}"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                          data-ng-click=" order('-prenom') "
                          data-ng-class="{active: row == '-prenom'}"></span>
                </div></th>
                <th><div class="th">
                    E-mail
                    <span class="glyphicon glyphicon-chevron-up"
                          data-ng-click=" order('email') "
                          data-ng-class="{active: row == 'email'}"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                          data-ng-click=" order('-email') "
                          data-ng-class="{active: row == '-email'}"></span>
                </div></th>
                <th><div class="th">
                    Mobile
                    <span class="glyphicon glyphicon-chevron-up"
                          data-ng-click=" order('mobile') "
                          data-ng-class="{active: row == 'mobile'}"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                          data-ng-click=" order('-mobile') "
                          data-ng-class="{active: row == '-mobile'}"></span>
                </div></th>
                <th><div class="th">
                    Université d'origine
                    <span class="glyphicon glyphicon-chevron-up"
                          data-ng-click=" order('universiteOrigine') "
                          data-ng-class="{active: row == 'universiteOrigine'}"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                          data-ng-click=" order('-universiteOrigine') "
                          data-ng-class="{active: row == '-universiteOrigine'}"></span>
                </div></th>
                <th></th>
            </tr>
            </thead>
            <tbody><!-- currentPageEnseignant / enseignants -->
            <tr data-ng-repeat="e in etudiants" class="formation">
                <td>{{e.nom}}</td>
                <td>{{e.prenom}}</td>
                <td>{{e.email}}</td>
                <td>{{e.mobile}}</td>
                <td>{{e.universiteOrigine}}</td>
                <td><span class="remove fa fa-remove" ng-click="supprime(f)"></span></td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredEnseignant.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>
