<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

	<!-- stats -->    
    <br>
	<div class="row">
		<center>
			<img src="images/spi.svg" />
			<h1><b>S</b>uivi et <b>P</b>réparation à l'<b>I</b>nsertion professionnelle</h1>
		</center>
	</div>
    <br>
	<div class="row">
		
		<div class="col-lg-4 col-xsm-6">
			<div class="panel mini-box">
				<span class="box-icon bg-danger">
                    <i class="fa fa-graduation-cap"></i>
                </span>
				<div class="box-info">
					<p class="size-h2">{{nbrFrm}}</p>
					<p class="text-muted"><span data-i18n="Formations"></span></p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-xsm-6">
			<div class="panel mini-box">
				<span class="box-icon bg-warning">
                    <i class="fa fa-users"></i>
                </span>
				<div class="box-info">
					<p class="size-h2">{{nbrEtu}}</p>
					<p class="text-muted"><span data-i18n="Etudiants"></span></p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-xsm-6">
			<div class="panel mini-box">
				<span class="box-icon bg-success">
                    <i class="fa fa-book"></i>
                </span>
				<div class="box-info">
					<p class="size-h2">{{nbrUE}}<span class="size-h4"></span></p>
					<p class="text-muted"><span data-i18n="Unités d'Enseignement"></span></p>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-xsm-0">
		</div>
		<div class="col-lg-4 col-xsm-6">
			<div class="panel mini-box">
				<span class="box-icon bg-info">
                    <i class="fa fa-suitcase"></i>
                </span>
				<div class="box-info">
					<p class="size-h2">{{nbrEnsCh}}</p>
					<p class="text-muted"><span data-i18n="Enseignants Chercheurs"></span></p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-xsm-6">
			<div class="panel mini-box">
				<span class="box-icon bg-primary">
                    <i class="fa fa-briefcase"></i>
                </span>
				<div class="box-info">
					<p class="size-h2">{{nbrEnsInt}}</p>
					<p class="text-muted"><span data-i18n="Intervenants Extérieur"></span></p>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-xsm-0">
		</div>

	</div>
	<!-- end stats -->


</div>