<div id="nav-wrapper" data-ng-controller="NavCtrl">

	<ul ng-if="role =='ADM'" id="nav" data-slim-scroll data-collapse-nav data-highlight-active>
		<li><a href="#/dashboard"><i class="fa fa-dashboard"></i> <span>Tableau de bord</span></a></li>
		<li><a href="#/admin/enseignants"><i class="fa fa-users"></i> <span>Gestion des enseignants</span></a></li>
		<li><a href="#/admin/formationsPromo"><i class="fa fa-graduation-cap"></i> <span>Gestion des promotions</span></a></li>
		<!--<li><a href="#/admin/formation"><i class="fa fa-graduation-cap"></i> <span>Gestion des formations</span></a></li>-->
		<li><a><i class="fa fa-cogs"></i> <span>Paramétrage des évaluations</span></a><!--fa-list-alt-->
			<ul>
				<li><a href="#/admin/qualificatifs"><i class="fa fa-sliders"></i> <span>Gestion des qualificatifs</span></a></li>
				<li><a href="#/admin/questions"><i class="fa fa-question-circle"></i> <span>Gestion des questions</span></a></li>
				<li><a href="#/admin/rubriques"><i class="fa fa-tasks"></i> <span>Gestion des rubriques</span></a></li>
			</ul>
		</li>
	</ul>

	<ul ng-if="role =='ENS'" id="nav" data-slim-scroll data-collapse-nav data-highlight-active>
		<li><a href="#/dashboard"><i class="fa fa-dashboard"></i><span data-i18n="Tableau de bord"></span></a></li>
		<li><a href="#/enseignant/evaluations"><i class="fa fa-list-alt"></i> <span>Gestion des évaluations</span></a><!--fa-list-alt-->
	</ul>
</div>