<div class="page page-table" data-ng-controller="qualificatifCtrl">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Qualificatifs</strong>
        <a href ="#admin/qualificatif"><span class="add fa fa-plus pull-right"></span></a>
        </div>

       

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>

                    <th><div class="th">
                        Minimal
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'minimal'; sortReverse = !sortReverse"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'minimal'; sortReverse = !sortReverse"></span>
                    </div></th> 
					<th><div class="th">
                        Maximal
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'maximal'; sortReverse = !sortReverse"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'maximal'; sortReverse = !sortReverse"></span>
                    </div></th>
                </tr>
            </thead>
            <tbody>
				
                <tr data-ng-repeat="q in qualificatifs | orderBy:sortType:sortReverse | filter:search">
                   <td>{{q.minimal}}</td></a>
                    <td>{{q.maximal}}</td>
					<td><a href ="#admin/qualificatif/{{q.idQualificatif}}"><span class="table-add glyphicon glyphicon-edit" ></span></a></td>
					<td><span class="remove fa fa-remove" ng-click="supprimerQualificatif(q.idQualificatif,$index)" ng-confirm-click="Would you like to say hi?"></span></td>
                </tr>
				
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>
