<div class="page" ng-controller="QstDetailsController">
	<div class="panel panel-default ens-edit">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Question standard</strong></div>
		<div class="panel-body">
			<!-- Ajout et édition -->
			<div ng-show="edit">
				<form class="form-horizontal form-validation" ng-submit="quest.$valid && submit()" name="quest">

					<div class="form-group has-error" ng-class="{ 'has-error': quest.intitule.$error.required && quest.intitule.$invalid}">
						<label for="intitule" class="col-sm-4 control-label">Intitulé</label>
						<div class="col-sm-5">
							<input type="text" class="form-control has-feedback" id="intitule" name="intitule" required maxlength="64" ng-model="question.intitule"
							 tooltip="{{quest.intitule.$valid ? '' : 'intitule de l\'étudiant obligatoire.'}}" tooltip-trigger="focus" tooltip-placement="top">
							<span class="glyphicon glyphicon-ok text-success form-control-feedback" aria-hidden="true" ng-show="quest.intitule.$valid"></span>
						</div>
					</div>
					<div class="form-group has-error" ng-class="{ 'has-error': quest.qualificatif.$error.required && quest.qualificatif.$invalid}">
						<label for="qualificatif" class="col-sm-4 control-label">Qualificatif</label>
						<div class="col-sm-5">
							<select required class="form-control has-feedback" ng-model="question.qualificatif" 
							data-ng-options="qlf as qlf.minimal+' - '+qlf.maximal for qlf in qualificatifs track by qlf.idQualificatif" id="qualificatif" name="qualificatif">
									<option value="">Sélectionnez un couple de qualificatifs</option>
								</select>
							<span class="glyphicon glyphicon-ok text-success form-control-feedback" aria-hidden="true" ng-show="quest.qualificatif.$valid"></span>
						</div>
					</div>

					<div class="pull-right">
						<div class="btn-group">
							<button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-ok"> </span> Valider</button>
						</div>
						<div class="btn-group">
							<button type="reset" class="btn btn-danger pull-right" ng-click="cancel()"><span class="glyphicon glyphicon-remove"> </span> Annuler</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>