<div class="page page-table" data-ng-controller="listController">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Formations</strong>
        </div>
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                        Code
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('code') "
                              data-ng-class="{active: row == 'code'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-code') "
                              data-ng-class="{active: row == '-code'}"></span>
                    </div></th>
                    <th><div class="th">
                        Diplôme / année
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('diplome') "
                              data-ng-class="{active: row == 'diplome'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-diplome') "
                              data-ng-class="{active: row == '-diplome'}"></span>
                    </div></th>                    
                    <th><div class="th">
                        Nom formation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th><div class="th">
                        Double diplôme
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th><div class="th">
                        Accréditation
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('email') "
                              data-ng-class="{active: row == 'email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-email') "
                              data-ng-class="{active: row == '-email'}"></span>
                    </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="f in formations" class="formation">
                    <td ng-click="showPromotions(f.codeFormation)">{{f.codeFormation}}</td>
                    <td ng-click="showPromotions(f.codeFormation)">{{f.diplome}}{{f.n0Annee}}</td>
                    <td ng-click="showPromotions(f.codeFormation)">{{f.nomFormation}}</td>
                    <td ng-click="showPromotions(f.codeFormation)">{{f.doubleDiplome}}</td>
                    <td ng-click="showPromotions(f.codeFormation)">{{f.debutAccreditation}} => {{f.finAccreditation}}</td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

   <section ng-show="afficherPromotion" class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Promotion</strong>
        </div>
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                        Code Formation
                    </div></th>
                    <th><div class="th">
                        Année universitaire
                    </div></th>                    
                    <th><div class="th">
                        Sigle Promotion
                    </div></th>
                    <th><div class="th">
                        Nb Max Etudiants
                    </div></th>
                    <th><div class="th">
                        Responsable pédagogique
                      
                    </div></th>
                    
                    <th><div class="th">
                        Formation 
                      
                    </div></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in promotions" class="formation">
                    <td ng-click="showEtudiants(p.promotionPK.codeFormation,p.promotionPK.anneeUniversitaire)">{{p.promotionPK.codeFormation}}</td>
                    <td ng-click="showEtudiants(p.promotionPK.codeFormation,p.promotionPK.anneeUniversitaire)">{{p.promotionPK.anneeUniversitaire}}</td>
                    <td ng-click="showEtudiants(p.promotionPK.codeFormation,p.promotionPK.anneeUniversitaire)">{{p.siglePromotion}}</td>
                    <td ng-click="showEtudiants(p.promotionPK.codeFormation,p.promotionPK.anneeUniversitaire)">{{p.nbMaxEtudiant}}</td>
                    <td ng-click="showEtudiants(p.promotionPK.codeFormation,p.promotionPK.anneeUniversitaire)">{{p.noEnseignant.nom}} {{p.noEnseignant.prenom}}</td>
                    <td ng-click="showEtudiants(p.promotionPK.codeFormation,p.promotionPK.anneeUniversitaire)">{{p.formation.nomFormation}}</td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select ng-model="numPerPage"
                                ng-options="num for num in numPerPageOpt"
                                ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>
    
     
    <section class="panel panel-default table-dynamic">
    <div ng-show="afficherEtudiant">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Etudiants</strong>
        <span></span>
         <a ng-href="#/admin/etudiant/new/{{code}}/{{annee}}"><span class="add fa fa-user-plus pull-right"></span></a>
            
        </div>



        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th><div class="th">
                    Nom
                    <span class="glyphicon glyphicon-chevron-up"
                          ng-click="sortType = 'nom'; sortReverse = !sortReverse"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                           ng-click="sortType = 'nom'; sortReverse = !sortReverse"></span>
                </div></th>
                <th><div class="th">
                    Prénom
                    <span class="glyphicon glyphicon-chevron-up"
                           ng-click="sortType = 'prenom'; sortReverse = !sortReverse"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                           ng-click="sortType = 'prenom'; sortReverse = !sortReverse"></span>
                </div></th>
                <th><div class="th">
                    E-mail
                    <span class="glyphicon glyphicon-chevron-up"
                           ng-click="sortType = 'email'; sortReverse = !sortReverse"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                            ng-click="sortType = 'email'; sortReverse = !sortReverse"></span>
                </div></th>
                <th><div class="th">
                    Mobile
                    
                </div></th>
                <th><div class="th">
                    Université d'origine
                    <span class="glyphicon glyphicon-chevron-up
                      ng-click="sortType = 'universiteOrigine'; sortReverse = !sortReverse"
              		></span>
                    <span class="glyphicon glyphicon-chevron-down"
                          ng-click="sortType = 'universiteOrigine'; sortReverse = !sortReverse" ></span>
                </div></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody><!-- currentPageEnseignant / enseignants -->
         
            <tr data-ng-repeat="e in etudiants | orderBy:sortType:sortReverse | filter:search" class="formation">
                <td ng-click="edit(e)">{{e.nom}}</td>
                <td ng-click="edit(e)">{{e.prenom}}</td>
                <td ng-click="edit(e)">{{e.email}}</td>
                <td ng-click="edit(e)">{{e.mobile}}</td>
                <td ng-click="edit(e)">{{e.universiteOrigine}}</td>
                <td><span class="edit fa fa-edit" ng-click="edit(e.noEtudiant,code,annee)"></span></td>
                <td><span class="remove fa fa-remove" ng-click="remove(e.noEtudiant, $index)"></span></td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredEnseignant.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
        </div>
    </section>
   

</div>

