<div class="page" ng-controller="rubriqueCtrl">
	<div class="panel panel-default ens-edit">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Rubriques</strong></div>
		<div class="panel-body">
			<!-- Edition -->
			<div>
				<form class="form-horizontal form-validation" ng-submit="ajouterRubrique(rubrique)">
					
					
					<div class="form-group">
						<label for="" class="col-sm-4 control-label">Designation <span class="required">*</span></label>
						<div class="col-sm-5">
							<input type="text" class="form-control" required maxlength="32" ng-model="rubrique.designation">
						</div>
					</div>

					<div class="pull-right">
						<div class="btn-group">
							<button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-ok"> </span> Valider</button>
						</div>
						<div class="btn-group">
							<button type="reset" class="btn btn-danger pull-right" ng-click="cancel()"><span class="glyphicon glyphicon-remove"> </span> Annuler</button>
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>
</div>