<div class="page page-table" data-ng-controller="rubriqueCtrl">
	<div class="alert alert-success" id="success" ng-show="status">
		<button type="button" class="close" ng-click="fermerMsg()">&times;</button>
		<span class="glyphicon glyphicon-exclamation-sign"></span>
		<strong>{{status}}</strong>
	</div>
	<section class="panel panel-default table-dynamic">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Rubriques Standards</strong>
			<a href="#admin/rubrique"><span class="add fa fa-plus pull-right"></span></a>
		</div>



		<table class="table table-bordered table-striped table-responsive">
			<thead>
				<tr>

					
					
					<th width="5%">
						<div class="th">
							Ordre 
							
						</div>
					</th>
					
					<th>
						<div class="th">
							Designation
							<span class="glyphicon glyphicon-chevron-up" ng-click="sortType = 'designation'; sortReverse = !sortReverse"></span>
							<span class="glyphicon glyphicon-chevron-down" ng-click="sortType = 'designation'; sortReverse = !sortReverse"></span>
						</div>
					</th>
					
					<th colspan="2" width="8%">
						<div class="th">
							Actions
						</div>
					</th>

				</tr>
			</thead>
			<tbody>

				<tr data-ng-repeat="r in rubriques">
					
					<td>
						<span ng-if= "$index!=0 " class="glyphicon glyphicon-chevron-up" ng-click="modifierOrdreUp(r,rubriques[$index-1])"></span><br>
						<span ng-if="$index!=rubriques.length -1 " class="glyphicon glyphicon-chevron-down" ng-click="modifierOrdreDown(r,rubriques[$index+1])"></span>
					</td>
					<td>{{r.designation}}</td>
					<td><a href="#admin/rubrique/{{r.idRubrique}}"><span class="edit fa fa-pencil-square-o" tooltip="Modifier" tooltip-placement="bottom"></a></span></td>
					<td><span class="remove fa fa-remove" ng-click="supprimerRubrique(r.idRubrique,$index,r.designation)" tooltip="Supprimer" tooltip-placement="bottom"></span></td>
				</tr>

			</tbody>
		</table>

	<script type="text/ng-template" id="supprimerRubrique">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
			<h4 class="modal-title">Suppression de rubrique</h4>
		</div>
		<div class="modal-body">
			Voulez vous vraiment supprimer la rubrique : <b>"{{rub}}"</b> ?
		</div>
		<div class="modal-footer">
			<button data-dismiss="modal" class="btn btn-default" type="button" ng-click="annuler()">Annuler</button>
			<button class="btn btn-success" type="button" ng-click="confirmer()"> Supprimer</button>
		</div>
	</div>
	</script>

	<script type="text/ng-template" id="supprimerRubriqueError">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
			<h4 class="modal-title">Suppression impossible</h4>
		</div>
		<div class="modal-body">
			La rubrique <b>"{{rub}}"</b> ne peut pas être supprimée !
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger" type="button" ng-click="annuler()"> OK</button>
		</div>
	</div>
	</script>

</div>
