<div class="page page-table" ng-controller="evaluationCtrl">
    <section class="panel panel-default table-dynamic">
        <div class="panel panel-default ens-edit">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{evaluation.designation}} :  {{evaluation.codeFormation}} {{evaluation.anneeUniversitaire}} </strong></div>
            <div class="panel-body">
                
                <!-- Edition -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label"></label>
                            <label for="" class="control-label">Evaluation concernant : </label>
                        </div>
                    </div>

                    <!--**** Colonne gauche ****-->
                    <div class="col-sm-3" ng-show="evaluation.codeEc">
                        <div class="form-group">
                            <label for="" class="control-label">l'élément constitutif : " {{evaluation.codeEc}} " de</label>
                        </div>
                    </div>

                    <!--**** Colonne droite ****-->
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="" class="control-label">l'unité d'enseignement : " {{evaluation.codeUe}} "</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label"></label>
                            <label for="" class="col-sm-8 control-label">Accessible du : {{evaluation.debutReponse}} au {{evaluation.finReponse}} </label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">Pour la période : </label>
                            <label for="" class="col-sm-8 control-label">{{evaluation.periode}} </label>
                        </div>
                    </div>
                </div>

                <br>

                <table class="table table-bordered table-responsive composition" data-ng-repeat="r in rubriquesEval">
                        <thead class="composition">
                            <th colspan="3">
                                <div class="th">
                                    {{r.rubrique.designation}}
                                </div>
                            </th>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="q in r.questionsEval">
                                <td>{{q.question.intitule}}</td>
                                <td width="25%">{{q.question.qualificatif.maximal}}</td>
                                <td width="25%">{{q.question.qualificatif.minimal}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </section>



<script type="text/ng-template" id="supprimerEvaluation">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
            <h4 class="modal-title">Suppression d'évaluation</h4>
        </div>
        <div class="modal-body">
            Voulez vous vraiment supprimer l'évaluation ?
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button" ng-click="annuler()">Annuler</button>
            <button class="btn btn-success" type="button" ng-click="confirmer()"> Supprimer</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="supprimerEvaluationError">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
            <h4 class="modal-title">Erreur de suppression</h4>
        </div>
        <div class="modal-body">
            L'évaluation ne peut pas être supprimée !
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="annuler()"> OK</button>
        </div>
    </div>
</script>


<script type="text/ng-template" id="confirmerModif">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
            <h4 class="modal-title">Modification réussie</h4>
        </div>
        <div class="modal-body">
            L'évaluation a été modifiée !
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="annuler()"> OK</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="erreurModif">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
            <h4 class="modal-title">Modification impossible</h4>
        </div>
        <div class="modal-body">
            L'évaluation n'a pas pu être modifiée !
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="annuler()"> OK</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="confirmerAjout">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
            <h4 class="modal-title">Ajout réussi</h4>
        </div>
        <div class="modal-body">
            L'évaluation a été ajoutée !
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="annuler()"> OK</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="erreurAjout">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
            <h4 class="modal-title">Ajout impossible</h4>
        </div>
        <div class="modal-body">
            L'évaluation n'a pas pu être ajoutée !
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="annuler()"> OK</button>
        </div>
    </div>
</script>

</div>