<div class="page page-table" ng-controller="evaluationCtrl">
<section class="panel panel-default table-dynamic">
  <div class="panel panel-default ens-edit">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Evaluation</strong></div>
    <div class="panel-body">        
        <!-- Edition -->
        <div>          
            <form class="form-horizontal" ng-submit="execute(evaluation,outoforder)">
                <div class="form-group">
                    <label for="" class="col-sm-2">Numéro Evaluation<span class="required"> *</span></label>
                    <div class="col-sm-10">
                        <input  required type="number" class="form-control" 
                               ng-model="evaluation.noEvaluation" max = "99" min ="1">
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Désignation<span class="required"> *</span></label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control"
                               ng-model="evaluation.designation" maxlength = "16">
                    </div>                    
                </div> 
                <div ng-hide ="idEvaluation != null" class="form-group">
                    <label for="" class="col-sm-2">Unité Enseignement<span class="required"> *</span></label>
                    <div class="col-sm-10">
                        <select required class="form-control" ng-model="evaluation.codeUe" ng-change="fetchec(evaluation.codeUe)">
                            <option value="">Selectionner l'Unité d'enseignement</option> 
                            <option  ng-repeat="currentUE in Unites"  
                                    value="{{currentUE.uniteEnseignementPK.codeFormation}}/{{currentUE.uniteEnseignementPK.codeUe}}">
                                        {{currentUE.uniteEnseignementPK.codeUe}} - {{currentUE.uniteEnseignementPK.codeFormation}}
                            </option>
                        </select>
                    </div>                    
                </div> 
                <div ng-hide ="idEvaluation != null" class="form-group">
                    <label for="" class="col-sm-2">Element Constitutif</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="evaluation.codeEc">
                            <option value="">Selectionner l'élément constitutif</option> 
                            <option ng-repeat="currentEC in Elements"
                                    value="{{currentEC.elementConstitutifPK.codeEc}}">
                                        {{currentEC.elementConstitutifPK.codeEc}}
                            </option>
                        </select>
                    </div>                    
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-2">Code Formation<span class="required"> *</span></label>
                    <div class="col-sm-10">
                        <input required disabled type="text" class="form-control"
                               ng-model="evaluation.codeFormation">
                    </div>                    
                </div>
				<div ng-hide ="idEvaluation != null" class="form-group">
                    <label for="" class="col-sm-2">Année Universitaire<span class="required"> *</span></label>
                    <div class="col-sm-10">
                       <select required class="form-control" ng-model="evaluation.anneeUniversitaire">
                            <option value="">Selectionner l'année universitaire</option> 
                            <option ng-repeat="p in Promotions"
                                    value="{{p.promotionPK.anneeUniversitaire}}">
                                        {{p.promotionPK.anneeUniversitaire}}
                            </option>
                        </select>
                    </div>                    
                </div>				
                <div class="form-group">
                    <label for="" class="col-sm-2">Etat<span class="required"> *</span></label>
                    <div class="col-sm-10">
                        <select required class="form-control" ng-model="evaluation.etat">
                            <option value="">Selectionner un état</option> 
                            <option ng-repeat="etat in Etats"ng-selected="etat.rvAbbreviation == evaluation.etat"
                                    value="{{etat.rvAbbreviation}}">
                                        {{etat.rvMeaning}}
                            </option>
                        </select>
                    </div>                    
                </div> 
                <div class="form-group">
                    <label for="" class="col-sm-2">Début Réponse<span class="required"> *</span></label>
                    <div class="col-sm-10">
                        <div class="input-group ui-datepicker">
                        <input type="text" 
                               class="form-control"
                               datepicker-popup="dd/MM/yyyy"
                               ng-model="evaluation.debutReponse"
                               is-open="opened1"
                               min="minDate"
                               datepicker-options="dateOptions" 
                               date-disabled="disabled(date, mode)"
                               ng-required="true" 
                               close-text="Close">
                        <span class="input-group-addon" ng-click="open1($event)"><i class="fa fa-calendar"></i></span>
                    </div>
                        
                    </div>                    
                </div> 
                <div class="form-group">
                    <label for="" class="col-sm-2">Fin Réponse<span class="required"> *</span></label>
                    <div class="col-sm-10">
                        <div class="input-group ui-datepicker">
                        <input type="text" 
                               class="form-control"
                               datepicker-popup="dd/MM/yyyy"
                               ng-model="evaluation.finReponse"
                               is-open="opened"
                               min="minDate"
                               datepicker-options="dateOptions" 
                               date-disabled="disabled(date, mode)"
                               ng-required="true" 
                               close-text="Close">
                        <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
                    </div>
                    </div>                   
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2">Période</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                               ng-model="evaluation.periode" maxlength = "64">
                    </div>                    
                </div>     
            <button type="submit" ng-if ="idEvaluation == null" class="btn btn-success" ><span class="glyphicon glyphicon-ok"></span> Ajouter</a>  
            <button type="submit" ng-if ="idEvaluation != null" class="btn btn-success" ><span class="glyphicon glyphicon-ok"></span> Modifier</a>
            <button class="btn btn-danger pull-right" ng-click="cancel()"> Annuler</button>
            </form>
        </div>
    </div>
  </div>
  </section>
</div>
