<div class="page page-table" ng-controller="evaluationCtrl">
<section class="panel panel-default table-dynamic">
  <div class="panel panel-default ens-edit">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Evaluation</strong></div>
    <div class="panel-body">        
        <!-- Ajout/Modification -->
                <div>
                    <form class="form-horizontal" ng-submit="execute(evaluation,outoforder)">

                        <!--Promotion-->
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="form-group col-sm-5">
                                <label for="" class="col-sm-5 control-label">Formation</label>
                                <div class="col-sm-7">
                                    <input required disabled type="text" class="form-control" ng-model="evaluation.codeFormation">
                                </div>
                            </div>
                            <div ng-hide="idEvaluation != null" class="form-group col-sm-5">
                                <label for="" class="col-sm-5 control-label">Année universitaire</label>
                                <div class="col-sm-7">
                                    <select required class="form-control" ng-model="evaluation.anneeUniversitaire">
                                    <option value="">Selectionner l'année universitaire</option> 
                                    <option ng-repeat="p in Promotions"
                                    value="{{p.promotionPK.anneeUniversitaire}}">
                                        {{p.promotionPK.anneeUniversitaire}}
                                    </option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <!-- UE // EC -->
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div ng-hide="idEvaluation != null" class="form-group col-sm-5">
                                <label for="" class="col-sm-5 control-label">Unité d'enseignement</label>
                                <div class="col-sm-7">
                                    <select required class="form-control" ng-model="evaluation.codeUe" ng-change="fetchec(evaluation.codeUe)">
                                    <option value="">Selectionner l'Unité d'enseignement</option> 
                                    <option  ng-repeat="currentUE in Unites"  
                                        value="{{currentUE.uniteEnseignementPK.codeFormation}}/{{currentUE.uniteEnseignementPK.codeUe}}">
                                        {{currentUE.designation}} - {{currentUE.uniteEnseignementPK.codeFormation}}
                                    </option>
                                </select>
                                </div>
                            </div>
                            <div ng-hide="idEvaluation != null" class="form-group col-sm-5">
                                <label for="" class="col-sm-5 control-label">Elément constitutif</label>
                                <div class="col-sm-7">
                                    <select class="form-control" ng-model="evaluation.codeEc">
                                    <option value="">Selectionner l'élément constitutif</option> 
                                    <option ng-repeat="currentEC in Elements"
                                    value="{{currentEC.elementConstitutifPK.codeEc}}">
                                    {{currentEC.elementConstitutifPK.codeEc}} - {{currentEC.designation}}
                                    </option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <!-- Identif -->
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="form-group col-sm-3">
                                <label for="" class="col-sm-8 control-label">Numéro d'évaluation</label>
                                <div class="col-sm-4">
                                    <input required type="text" class="form-control" ng-model="evaluation.noEvaluation" maxlength="2" chars="0-9">
                                </div>
                            </div>
                            <div class="form-group col-sm-5">
                                <label for="" class="col-sm-5 control-label">Désignation</label>
                                <div class="col-sm-7">
                                    <input required type="text" class="form-control" ng-model="evaluation.designation" maxlength="16" chars="a-zA-Z 0-9">
                                </div>
                            </div>
                        </div>

                        <!-- Période -->
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">Période</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="evaluation.periode" chars="0-9 a-zA-Z-éàè" maxlength="64">
                            </div>
                        </div>

                        <!-- Etat -->
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="form-group col-sm-3">
                                <label for="" class="col-sm-3 control-label">Etat</label>
                                <div class="col-sm-9">
                                    <select required class="form-control" ng-model="evaluation.etat">
                            <option value="">Selectionner un état</option> 
                            <option ng-repeat="etat in Etats" ng-selected="etat.rvAbbreviation == evaluation.etat"
                                    value="{{etat.rvAbbreviation}}">
                                        {{etat.rvMeaning}}
                            </option>
                        </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="" class="col-sm-6 control-label">Accessible du</label>
                                <div class="col-sm-6">
                                    <div class="input-group ui-datepicker">
                                        <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="evaluation.debutReponse" is-open="opened1"
                                            min="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                            ng-required="true" close-text="Fermer" ng-focus="open1($event)" ng-change="changerMin()"
                                            onkeydown="return false">
                                        <span class="input-group-addon" ng-click="open1($event)"><i class="fa fa-calendar"></i></span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="" class="col-sm-2 control-label">au</label>
                                <div class="col-sm-6">
                                    <div class="input-group ui-datepicker">
                                        <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="evaluation.finReponse" is-open="opened" min-date="evaluation.debutReponse"
                                            datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                                            ng-focus="open($event)" onkeydown="return false" close-text="Fermer">
                                        <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <span class="label label-danger" ng-show="dateError">Sélectionnez une date supérieure à la date de début de réponse.</span>

                                </div>
                            </div>
                        </div>


                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-ok"> </span> Valider</button>
                            </div>
                            <div class="btn-group">
                                <button type="reset" class="btn btn-danger pull-right" ng-click="cancel()"><span class="glyphicon glyphicon-remove"> </span> Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
    </div>
  </div>
  </section>

  <section class="panel panel-default table-dynamic"   ng-hide ="idEvaluation == null">
	<div class="panel panel-default ens-edit">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Rubriques </strong></div>
    <div class="panel-body"> 
	
		<div>
			<form ng-submit="ajouterRubEval(rubriqueEval.rubrique)">
			
				
				
				<div class="form-group" >
                    <label for="" class="col-sm-4 control-label">Rubriques</label>
                    <div class="col-sm-5">
                        <select required class="form-control" ng-model="rubriqueEval.rubrique" >
                            <option value="" >Sélectionnez une rubrique</option> 
                            <option ng-repeat="r in rubriques" 
                                    value="{{r}}">
                                        {{r.designation}}
                            </option>
                        </select>
                    </div> 
					<div class="btn-group">
							<button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-ok"> </span> Ajouter </button>
					</div>
                </div> 
			
			</form>
			
			
			<table class="table table-bordered table-striped table-responsive">
			
			<tbody>

				<tr data-ng-repeat="r in rubriquesEval">
					
					<td>
						<span ng-if= "$index!=0 " class="glyphicon glyphicon-chevron-up" ng-click="modifierOrdreUp(r,rubriquesEval[$index-1])"></span><br>
						<span ng-if="$index!=rubriquesEval.length -1 " class="glyphicon glyphicon-chevron-down" ng-click="modifierOrdreDown(r,rubriquesEval[$index+1])"></span>
					</td>
					<td>{{r.rubrique.designation}} </td> 
					
					<td><span class="remove fa fa-remove" ng-click="supprimerRubEval(r.idRubriqueEvaluation,$index)" tooltip="Supprimer" tooltip-placement="bottom"></span></td>
					
					
					<td>						

						<form ng-submit="ajouterQuestionsRubrique(questionEval.question , r)">
								
									<div class="form-group" >
										<label for="" class="col-sm-4 control-label">Questions</label>
										<div class="col-sm-5">
											<select required class="form-control" ng-model="questionEval.question">
												<option value="" ng-selected>Sélectionnez une question</option> 
												<option ng-repeat="q in questions" 
														value="{{q}}">
															{{q.intitule}}
												</option>
											</select>
										</div> 
										<div class="btn-group">
												<button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-ok"> </span> Ajouter </button>
										</div>
									</div> 
								
							</form>
					
							
						
						
						
						<table class="table table-bordered table-striped table-responsive">
			
								
							<tbody>

							<tr data-ng-repeat="q in r.questionsEval">
					
								<td>
									<span ng-if= "$index!=0 " class="glyphicon glyphicon-chevron-up" ng-click="modifierOrdreUpQ(q,r.questionsEval[$index-1])"></span><br>
									<span ng-if="$index!=r.questionsEval.length -1 " class="glyphicon glyphicon-chevron-down" ng-click="modifierOrdreDownQ(q,r.questionsEval[$index+1])"></span>
								</td>
								<td>{{q.question.intitule}}</td>
								<td>{{q.question.qualificatif.maximal}}</td>
								<td>{{q.question.qualificatif.minimal}}</td>
								<td><span class="remove fa fa-remove" ng-click="supprimerQuestionsRubrique(q.idQuestionEvaluation,$index)" tooltip="Supprimer" tooltip-placement="bottom"></span></td>
								
							</tr>

							</tbody>
						</table>
					
					</td>
					
					
				</tr>

			</tbody>
		</table>
			
			
			
			
		
		</div>
	
	</div>
	</div>
	</div>
  </section>
  
  
  
  <script type="text/ng-template" id="supprimerEvaluation">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
			<h4 class="modal-title">Suppression d'évaluation</h4>
		</div>
		<div class="modal-body">
			Voulez vous vraiment supprimer l'évaluation ?
		</div>
		<div class="modal-footer">			
			<button data-dismiss="modal" class="btn btn-default" type="button" ng-click="annuler()">Annuler</button>
			<button class="btn btn-success" type="button" ng-click="confirmer()"> Supprimer</button>
		</div>
	</div>
	</script>

	<script type="text/ng-template" id="supprimerEvaluationError">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
			<h4 class="modal-title">Erreur de suppression</h4>
		</div>
		<div class="modal-body">
			L'évaluation ne peut pas être supprimée !
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger" type="button" ng-click="annuler()"> OK</button>
		</div>
	</div>
	</script>
    

	<script type="text/ng-template" id="confirmerModif">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
			<h4 class="modal-title">Modification réussie</h4>
		</div>
		<div class="modal-body">
			L'évaluation a été modifiée !
		</div>
		<div class="modal-footer">
			<button class="btn btn-success" type="button" ng-click="annuler()"> OK</button>
		</div>
	</div>
	</script>

    <script type="text/ng-template" id="erreurModif">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
			<h4 class="modal-title">Modification impossible</h4>
		</div>
		<div class="modal-body">
			L'évaluation n'a pas pu être modifiée !
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger" type="button" ng-click="annuler()"> OK</button>
		</div>
	</div>
	</script>

    <script type="text/ng-template" id="confirmerAjout">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
			<h4 class="modal-title">Ajout réussi</h4>
		</div>
		<div class="modal-body">
			L'évaluation a été ajoutée !
		</div>
		<div class="modal-footer">
			<button class="btn btn-success" type="button" ng-click="annuler()"> OK</button>
		</div>
	</div>
	</script>

    <script type="text/ng-template" id="erreurAjout">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="annuler()">&times;</button>
			<h4 class="modal-title">Ajout impossible</h4>
		</div>
		<div class="modal-body">
			L'évaluation n'a pas pu être ajoutée !
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger" type="button" ng-click="annuler()"> OK</button>
		</div>
	</div>
	</script>

</div>
